@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 0 100% 43%;
    --primary-foreground: 0 100% 97%;
    --secondary: 0 30% 96%;
    --secondary-foreground: 0 50% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 0 85% 96%;
    --accent-foreground: 0 60% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 20% 90%;
    --input: 0 20% 90%;
    --ring: 0 100% 43%;
    --radius: 0.5rem;
    --chart-1: 0 100% 43%;
    --chart-2: 30 100% 43%;
    --chart-3: 180 100% 43%;
    --chart-4: 210 100% 43%;
    --chart-5: 330 100% 43%;
    --color-1: 0 100% 43%;
    --color-2: 30 100% 43%;
    --color-3: 180 100% 43%;
    --color-4: 210 100% 43%;
    --color-5: 330 100% 43%;
  }

  .dark {
    --background: 0 20% 4%;
    --foreground: 0 0% 95%;
    --card: 0 15% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 0 100% 43%;
    --primary-foreground: 0 100% 97%;
    --secondary: 0 30% 15%;
    --secondary-foreground: 0 20% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 0 30% 15%;
    --accent-foreground: 0 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 85% 97%;
    --border: 0 30% 15%;
    --input: 0 30% 15%;
    --ring: 0 100% 43%;
    --chart-1: 0 100% 43%;
    --chart-2: 30 100% 43%;
    --chart-3: 180 100% 43%;
    --chart-4: 210 100% 43%;
    --chart-5: 330 100% 43%;
    --color-1: 0 100% 43%;
    --color-2: 30 100% 43%;
    --color-3: 180 100% 43%;
    --color-4: 210 100% 43%;
    --color-5: 330 100% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply overscroll-none bg-background text-foreground;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }

  /* Custom scrollbar styling. Thanks @pranathiperii. */
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 5px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }
}
